span.label {
  margin-left: 10px;
}

input, select {
  margin-right: 15px;
}

fieldset.inputs ol > li {
  list-style-type: none;
}

td.check {
  width: 10%;
}

input[type=radio], input[type=checkbox] {
  margin: 0px 15px;
}

li.input-wide {
  margin-bottom: 10px;
}

select.narrow {
  margin-bottom: 0px;
}

li#time-finished {
  margin-top: 10px;
  margin-left: 20px;
}

ul.unstyled {
  margin-bottom: 5px;
}

dt.breathing-room, dt.breathing-room + dd {
  margin-top: 15px;
}

textarea {
  width: 400px;
  height: 200px;
}